@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: "DIN Med";
  src: url("/font/DINWeb-Medium.woff") format("woff"); }

@font-face {
  font-family: "DIN Bold";
  src: url("/font/DINWeb-Bold.woff") format("woff");
  font-weight: bold; }



.CoveoSearchInterface {
  font-family: "DIN Medium", sans-serif ; }
.CoveoSearchInterface .coveo-main-section {
  margin: 0;
  max-width: unset; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section {
  max-width: unset;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #eee; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section.careers {
  background-color: initial;
  padding: 75px 25px; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSettings {
  display: none; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox {
  margin: 0 auto;
  position: relative; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .magic-box {
  padding-right: 100px; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .magic-box .magic-box-clear-svg {
  color: #6a7870 ; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .magic-box.magic-box-notEmpty > .magic-box-input > input {
  padding-right: 50px; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .CoveoSearchButton {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: #007c41;
  width: 100px;
  font-size: .7rem; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .CoveoSearchButton .coveo-search-button-loading {
  display: none; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .CoveoSearchButton::before {
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 600;
  content: 'Search';
  font-size: 1.5em;
  top: 25px;
  position: relative; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .CoveoSearchButton:hover {
  color: #fff ; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .CoveoSearchButton:hover::before {
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 600;
  content: 'Search';
  font-size: 1.5em;
  top: 25px;
  position: relative; }
.CoveoSearchInterface .coveo-main-section .coveo-search-section .CoveoSearchbox .CoveoSearchButton .coveo-search-button {
  display: none; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section {
  background: #fff;
  overflow-x: auto; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section a.CoveoTab.coveo-accessible-button {
  opacity: 1 ; }
@media screen and (max-width: 960px) {
  .CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab:first-child {
    margin-left: 15px; }
  .CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab:last-child {
    margin-right: 15px; } }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab {
  color: #007c41;
  outline: 0; }
@media screen and (max-width: 960px) {
  .CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab {
    padding: 5px 10px 7px;
    height: 50px; } }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab:hover {
  color: #3d4b44;
  border-bottom: 2px solid #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab:hover p {
  font-family: "DIN Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #3d4b44;
  min-width: 120px;
  border: 0 ; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab.coveo-selected {
  border-bottom: 2px solid #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab.coveo-selected:hover {
  border-bottom: 2px solid #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab.coveo-selected:hover p {
  border-bottom: 0; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab.coveo-selected p {
  border-bottom: 0; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .CoveoTab p {
  font-family: "DIN Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #007c41;
  min-width: 120px; }
.CoveoSearchInterface .coveo-main-section .coveo-tab-section .coveo-tab-dropdown-header p {
  font-family: "DIN Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #007c41;
  min-width: 120px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section {
  margin: 0 auto; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-toggle {
  display: none; }
@media screen and (max-width: 960px) {
  .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-toggle {
    display: block;
    margin: 25px 10px 15px 10px;
    padding: 15px;
    background: #007c41;
    color: #fff;
    text-align: center; } }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-toggle i.fas {
  font-size: 1em;
  color: #fff; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column {
  margin-right: 25px;
  padding: 0; }
@media screen and (max-width: 960px) {
  .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column {
    float: none;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    overflow-y: auto;
    max-height: 0; }
  .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column.open {
    max-height: 400px;
    margin-bottom: 20px;
    border-bottom: #eee 1px solid; } }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet {
  border: 0; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-more-icon-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-more-icon-svg {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-header-eraser, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-header-eraser {
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-header, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-header {
  background: none;
  border-bottom: 0px solid transparent; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-header .coveo-facet-header-title, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-header .coveo-facet-header-title {
  font-family: "DIN Medium", sans-serif;
  font-weight: bold;
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-header .coveo-facet-header-settings, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-header .coveo-facet-header-settings {
  display: none; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value:hover, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value:hover {
  background-color: #eee; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value:hover .coveo-hierarchical-facet-expand-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value:hover .coveo-hierarchical-facet-expand-svg {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value.coveo-selected .coveo-facet-value-checkbox, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value.coveo-selected .coveo-facet-value-checkbox {
  border: 1px solid #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value.coveo-selected .coveo-facet-value-checkbox svg .coveo-hook-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value.coveo-selected .coveo-facet-value-checkbox svg .coveo-hook-svg {
  fill: #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value .coveo-hierarchical-facet-expand-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value .coveo-hierarchical-facet-expand-svg {
  color: #6a7870 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value .coveo-hierarchical-facet-collapse-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value .coveo-hierarchical-facet-collapse-svg {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value .coveo-facet-value-count, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value .coveo-facet-value-count {
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoFacet .coveo-facet-value .coveo-facet-value-caption, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-facet-column .CoveoHierarchicalFacet .coveo-facet-value .coveo-facet-value-caption {
  font-family: "DIN Medium", sans-serif;
  font-weight: normal;
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-title {
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-value {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-value .coveo-facet-breadcrumb-caption {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-value .coveo-facet-breadcrumb-caption:hover {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-value:hover {
  color: #007c41 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-breadcrumb-clear-all, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-breadcrumb-clear-all-icon, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-clear {
  color: #6a7870 ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-value .coveo-exclusion-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-slider-breadcrumb-value .coveo-exclusion-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-facet-breadcrumb-clear-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoBreadcrumb .coveo-exclusion-svg {
  fill: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header {
  justify-content: flex-end; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header .coveo-summary-section .CoveoQuerySummary, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header .coveo-summary-section .CoveoQueryDuration {
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header .coveo-query-summary-cancel-last {
  color: #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header .CoveoSort {
  padding: 0 5px 6px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header .CoveoSort.coveo-selected {
  border-bottom: 2px solid #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .coveo-results-header > *:not(:first-child) {
  border-right: none; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container {
  font-family: "DIN Medium", sans-serif;
  line-height: 1.5em; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult {
  border: 0 ;
  padding: 0 0 20px 0; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container {
  padding: 15px;
  border: 1px solid #eee; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container h4 > a, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container h4 > a, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container h4 > a, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container h4 > a, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container h4 > a, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container h4 > a {
  margin-right: 10px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .source-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .source-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .source-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .source-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .source-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .source-label {
  font-size: 11px;
  font-weight: 600;
  color: #3d4b44;
  text-transform: uppercase;
  border-bottom: 0;
  width: max-content;
  line-height: 1.5em;
  vertical-align: top; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .source-label .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .source-label .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .source-label .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .source-label .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .source-label .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .source-label .coveo-clickable {
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .campus-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .campus-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .campus-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .campus-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .campus-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .campus-label {
  font-size: 0.6rem;
  line-height: 0.6rem;
  letter-spacing: 0.05rem;
  padding: 4px 6px;
  vertical-align: top;
  margin-left: 0px;
  color: #fff;
  display: inline-block;
  margin-top: 3px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .campus-label.maincampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .campus-label.maincampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .campus-label.maincampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .campus-label.maincampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .campus-label.maincampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .campus-label.maincampus {
  background-color: #7ab801; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .campus-label.augustanacampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .campus-label.augustanacampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .campus-label.augustanacampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .campus-label.augustanacampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .campus-label.augustanacampus, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .campus-label.augustanacampus {
  background-color: #155686; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .campus-label.campussaint-jean, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .campus-label.campussaint-jean, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .campus-label.campussaint-jean, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .campus-label.campussaint-jean, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .campus-label.campussaint-jean, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .campus-label.campussaint-jean {
  background-color: #631F45; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .campus-label.continuinged, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .campus-label.continuinged, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .campus-label.continuinged, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .campus-label.continuinged, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .campus-label.continuinged, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .campus-label.continuinged {
  background-color: #c97700; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .icon-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .icon-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .icon-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .icon-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .icon-label, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .icon-label {
  text-align: right; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .icon-label .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .icon-label .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .icon-label .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .icon-label .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .icon-label .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .icon-label .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .icon-label .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .icon-label .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .icon-label .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .icon-label .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .icon-label .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .icon-label .far {
  padding: 8px 10px;
  font-size: 2.8em;
  padding: 10px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.green, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.green, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.green, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.green, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.green, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.green {
  border-left: 3px solid #7ab801; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.green .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.green .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.green .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.green .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.green .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.green .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.green .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.green .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.green .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.green .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.green .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.green .far {
  color: #7ab801; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.dark-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.dark-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.dark-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.dark-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.dark-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.dark-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.dark-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.dark-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.dark-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.dark-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.dark-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.dark-grey .far {
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .far .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .far .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .far .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .far .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .far .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .far .fas {
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.light-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.light-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.light-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.light-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.light-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.light-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.light-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.light-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.light-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.light-grey .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.light-grey .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.light-grey .far {
  color: #eee; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.red .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container.red .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.red .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container.red .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.red .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container.red .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.red .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container.red .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.red .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container.red .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.red .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container.red .far {
  color: #aa0000; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .tag .term-facet .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .tag .term-facet .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .tag .term-facet .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .tag .term-facet .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .tag .term-facet .coveo-clickable, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .tag .term-facet .coveo-clickable {
  font-size: 0.9rem ;
  padding: 3px 6px;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid #747678;
  color: #747678;
  font-family: "DIN Medium", sans-serif; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .staff-position, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .directory-container .degree, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .staff-position, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .degree, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .staff-position, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .uappol-container .degree, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .staff-position, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .pdf-container .degree, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .staff-position, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .degree, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .staff-position, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .ualberta-container .degree {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #3d4b44;
  line-height: 1.2rem;
  margin-bottom: 0.5rem; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .courses-container .far, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .news-container .far {
  font-size: 2em ; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult a.CoveoResultLink {
  font-size: unset;
  line-height: 1.2;
  color: #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult a:hover {
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .link {
  margin-top: 10px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .link a {
  font-style: italic;
  font-weight: 300;
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .subtitle {
  color: #6a7870;
  font-size: 1.1em; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult p.CoveoExcerpt {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #3d4b44;
  padding-right: 15px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult p.published-date {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #3d4b44;
  padding-right: 15px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult p:last-of-type {
  margin-bottom: 0; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .exerpt {
  padding-right: 15px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .details {
  color: #6a7870;
  font-family: "DIN Medium",sans-serif;
  font-size: 0.9em; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .details .degree, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .details .faculty {
  color: #6a7870;
  font-family: "DIN Medium",sans-serif;
  font-size: 1.1em; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .details .staff-faculty {
  font-size: 1.0em; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .dates {
  color: #6a7870;
  font-family: "DIN Medium",sans-serif;
  font-size: 1.1em; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .full-policy i {
  color: #990000;
  font-size: 1rem; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .full-policy a {
  color: #007c41;
  text-decoration: none;
  font-weight: bold; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .full-policy a:hover {
  color: #3d4b44;
  text-decoration: underline; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .contact-info a {
  color: #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .profile-image {
  height: 60px;
  text-align: right; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .profile-image .profile-image-in-bg {
  background-size: cover;
  background-position: center center;
  /* width: 100%; */
  /* height: 100%; */
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  float: right; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .profile-image img {
  overflow: hidden;
  width: 65px;
  height: 65px;
  max-width: 65px;
  float: right; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .profile-image .fas, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .profile-image .far {
  background-color: #6a7870;
  color: #eee ;
  padding: 10px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .program-banner, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .related-img {
  background-position: center ;
  background-size: cover ;
  max-height: 120px;
  max-width: 195px;
  margin-left: auto; }
@media screen and (max-width: 550px) {
  .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .program-banner, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .related-img {
    max-height: 60px;
    max-width: 102px;} }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values {
  margin-top: 10px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values .term-facet span {
  background-color: #ddd;
  padding: 4px 6px;
  border-radius: 4px;
  margin-right: 5px;
  color: #666;
  white-space: nowrap; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values .term-facet span:hover {
  background-color: #ECBE13;
  color: #3d4b44;
  text-decoration: none; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values .term-facet span:hover span {
  background-color: #ECBE13;
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values .term-facet span:hover i {
  font-size: 1rem;
  color: #3d4b44; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values .term-facet span i {
  font-size: 1rem;
  color: #666; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultList .coveo-result-list-container .CoveoResult .field-values .term-facet span:nth-of-type(n+3) {
  display: none; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-list-item {
  border: 1px solid #007c41;
  color: #6a7870; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-list-item:hover {
  background-color: #007c41;
  color: #fff; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-list-item.coveo-pager-next {
  border: 0px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-list-item.coveo-pager-previous {
  border: 0px; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-list-item.coveo-active {
  background-color: #007c41;
  color: #fff; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-previous-icon-svg, .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoPager .coveo-pager-next-icon-svg {
  color: #007c41; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoResultsPerPage {
  display: none; }
.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .CoveoLogo {
  display: none; }
.CoveoSearchInterface .coveo-tab-list-container .coveo-tab-list a.CoveoTab.coveo-accessible-button.coveo-tab-dropdown {
  opacity: 1 ; }
.CoveoSearchInterface .coveo-tab-list-container .coveo-tab-list a.CoveoTab.coveo-accessible-button.coveo-tab-dropdown.coveo-selected p {
  border-bottom: 1px solid #007c41; }
.CoveoSearchInterface .coveo-tab-list-container .coveo-tab-list p {
  font-family: "DIN Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #007c41;
  min-width: 120px; }

.coveo-small-tabs .CoveoTab.coveo-selected:hover p {
  border: 0 ; }

.titlebanner {
  background: #007c41 url(/image/banner-bg.svg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 6.42857143em;
  border-bottom: 3px solid #ffdb05;
  color: #fff;
  overflow: hidden; }


h1.site-title a {
  background: transparent url(https://cloudfront.ualberta.ca/design/img/logo-reverse.svg) no-repeat center center;
  background-size: 100% 100%;
}

i.fas, i.far {
  font-size: 3em;
  color: #6a7870; }

img.thumbnail {
  max-height: 50px;
  max-width: 50px;
  height: 50px; }

.coveo-card-layout.CoveoResult {
  padding: 10px;
  border: 1px solid #007c41; }

.description-text{
  font-size: 16px;
  margin-bottom: 30px;
}

.description-text a{
  color: #007c41;
}

.CoveoSearchbox .magic-box{
  border-color: #cccccc;
}
.magic-box .magic-box-input, .magic-box .magic-box-clear{
  background-color: #eef3f0;
}

.CoveoSearchbox .magic-box .magic-box-input > input{
  color:#000000;
}

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container .staff-position {
  margin-bottom: 1rem; }

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container a {
  color: #007c41; }

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container p {
  margin-bottom: .5rem; }

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container p a {
  font-size: 14.4px; }

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container .direct-link a {
  color: #3d4b44;
  font-size: 90%; }

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container .keywords {
  margin-top: 15px; }
  .CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container .keywords span {
    font-size: 90%;
    display: inline-block;
    border-radius: 10px;
    background: #eee;
    margin-right: 2px;
    margin-bottom: 7px;
    padding: 1px 8px;
    cursor: pointer; }

.CoveoSearchInterface .coveo-main-section .coveo-result-section .coveo-results-column .directory-container p.phone a + a {
  display: inline; }
