/* Custom style for main page */
div.index-center-text p {
    text-align: justify; 
    margin-top: 0pt; 
    margin-bottom: 9pt;
    direction: ltr;
}

/* Custom style for publication page */
div.pub-list{
    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}
div.pub-list ul {
    list-style-type: square; 
    padding-left:0.5em;
    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}
div.pub-list ul li {
    margin: 20px 0;
}
div.pub-list ul li a {
    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
    display: inline;
}

/* Custom style for people page */
div.peo-list ul {
    list-style-type: square; 
    padding-left:0.5em;
    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}
div.peo-list ul li {
    margin: 10px 0;
}

/* Custom style for news page */
div.newspage-list {
    text-align:justify;
}
div.newspage-list ul {
    list-style-type: square; 
    padding-left:1.5em;
    padding-left:0.5em;
    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}
div.newspage-list ul li {
    margin: 10px 0;
}
